In [1]:
import pandas as pd
import numpy as np

languages = pd.read_csv('data.csv')

languages.isnull().sum()

ID                                0
Name in English                   0
Name in French                   23
Name in Spanish                  21
Countries                         1
Country codes alpha 3             1
ISO639-3 codes                  264
Degree of endangerment            0
Alternate names                1139
Name in the language           2695
Number of speakers              183
Sources                         643
Latitude                          3
Longitude                         3
Description of the location     852
dtype: int64

In [2]:
languages = languages.drop(columns='Name in the language')
languages.head()

,ID,Name in English,Name in French,Name in Spanish,Countries,Country codes alpha 3,ISO639-3 codes,Degree of endangerment,Alternate names,Number of speakers,Sources,Latitude,Longitude,Description of the location
0,1022,South Italian,italien du sud,napolitano-calabrés,Italy,ITA,nap,Vulnerable,Neapolitan; Neapolitan-Calabrese; неаполитанск...,7500000.0,NaN,40.9798,15.2490,"Campania, Lucania (Basilicata), Abruzzi (Abruz..."
1,1023,Sicilian,sicilien,siciliano,Italy,ITA,scn,Vulnerable,NaN,5000000.0,NaN,37.4399,14.5019,"Sicily (Sicilia), southern and central Calabri..."
2,383,Low Saxon,bas-saxon,bajo sajón,"Germany, Denmark, Netherlands, Poland, Russian...","DEU, DNK, NLD, POL, RUS","act, drt, frs, gos, nds, sdz, stl, twd, vel, wep",Vulnerable,"Low German, Niedersächsisch, Nedersaksisch, Ni...",4800000.0,NaN,53.4029,10.3601,"northern Germany, the north-eastern part of th..."
3,335,Belarusian,biélorusse,bielorruso,"Belarus, Latvia, Lithuania, Poland, Russian Fe...","BRB, LVA, LTU, POL, RUS, UKR",bel,Vulnerable,NaN,4000000.0,Hienadź Cychun: Weißrussisch. — Lexikon der Sp...,53.9560,27.5756,Belarus except the Polesian-speaking south-wes...
4,382,Lombard,lombard,lombardo,"Italy, Switzerland","ITA, CHE",lmo,Definitely endangered,NaN,3500000.0,NaN,45.7215,9.3273,the region of Lombardy (except the southernmos...

In [3]:
languages = languages.drop(columns='Sources')
languages.isnull().sum()

ID                                0
Name in English                   0
Name in French                   23
Name in Spanish                  21
Countries                         1
Country codes alpha 3             1
ISO639-3 codes                  264
Degree of endangerment            0
Alternate names                1139
Number of speakers              183
Latitude                          3
Longitude                         3
Description of the location     852
dtype: int64

In [4]:
languages = languages.drop(columns='Alternate names')
languages.isnull().sum()

ID                               0
Name in English                  0
Name in French                  23
Name in Spanish                 21
Countries                        1
Country codes alpha 3            1
ISO639-3 codes                 264
Degree of endangerment           0
Number of speakers             183
Latitude                         3
Longitude                        3
Description of the location    852
dtype: int64

In [5]:
languages = languages.drop(columns='Description of the location')
languages.isnull().sum()

ID                          0
Name in English             0
Name in French             23
Name in Spanish            21
Countries                   1
Country codes alpha 3       1
ISO639-3 codes            264
Degree of endangerment      0
Number of speakers        183
Latitude                    3
Longitude                   3
dtype: int64

In [6]:
languages = languages.dropna()
languages.isnull().sum()

ID                        0
Name in English           0
Name in French            0
Name in Spanish           0
Countries                 0
Country codes alpha 3     0
ISO639-3 codes            0
Degree of endangerment    0
Number of speakers        0
Latitude                  0
Longitude                 0
dtype: int64

In [7]:
len(languages)

2306

In [8]:
languages.dtypes

ID                          int64
Name in English            object
Name in French             object
Name in Spanish            object
Countries                  object
Country codes alpha 3      object
ISO639-3 codes             object
Degree of endangerment     object
Number of speakers        float64
Latitude                  float64
Longitude                 float64
dtype: object

In [9]:
languages.head()

,ID,Name in English,Name in French,Name in Spanish,Countries,Country codes alpha 3,ISO639-3 codes,Degree of endangerment,Number of speakers,Latitude,Longitude
0,1022,South Italian,italien du sud,napolitano-calabrés,Italy,ITA,nap,Vulnerable,7500000.0,40.9798,15.2490
1,1023,Sicilian,sicilien,siciliano,Italy,ITA,scn,Vulnerable,5000000.0,37.4399,14.5019
2,383,Low Saxon,bas-saxon,bajo sajón,"Germany, Denmark, Netherlands, Poland, Russian...","DEU, DNK, NLD, POL, RUS","act, drt, frs, gos, nds, sdz, stl, twd, vel, wep",Vulnerable,4800000.0,53.4029,10.3601
3,335,Belarusian,biélorusse,bielorruso,"Belarus, Latvia, Lithuania, Poland, Russian Fe...","BRB, LVA, LTU, POL, RUS, UKR",bel,Vulnerable,4000000.0,53.9560,27.5756
4,382,Lombard,lombard,lombardo,"Italy, Switzerland","ITA, CHE",lmo,Definitely endangered,3500000.0,45.7215,9.3273

In [10]:
languages = languages.drop(columns='Name in French')
languages = languages.drop(columns='Name in Spanish')

In [11]:
display(languages.head())
languages['Countries'].value_counts()

,ID,Name in English,Countries,Country codes alpha 3,ISO639-3 codes,Degree of endangerment,Number of speakers,Latitude,Longitude
0,1022,South Italian,Italy,ITA,nap,Vulnerable,7500000.0,40.9798,15.2490
1,1023,Sicilian,Italy,ITA,scn,Vulnerable,5000000.0,37.4399,14.5019
2,383,Low Saxon,"Germany, Denmark, Netherlands, Poland, Russian...","DEU, DNK, NLD, POL, RUS","act, drt, frs, gos, nds, sdz, stl, twd, vel, wep",Vulnerable,4800000.0,53.4029,10.3601
3,335,Belarusian,"Belarus, Latvia, Lithuania, Poland, Russian Fe...","BRB, LVA, LTU, POL, RUS, UKR",bel,Vulnerable,4000000.0,53.9560,27.5756
4,382,Lombard,"Italy, Switzerland","ITA, CHE",lmo,Definitely endangered,3500000.0,45.7215,9.3273

United States of America               205
Brazil                                 180
India                                  142
Indonesia                              140
China                                  113
                                      ...
Georgia, Russian Federation, Turkey      1
Benin                                    1
Paraguay                                 1
Western Sahara                           1
Niue                                     1
Name: Countries, Length: 225, dtype: int64

In [12]:
country_list = pd.read_excel('country_list.xlsx')
country_list.head()

,Rank,Country,HDI value (2019),Life expectancy at birth (years) SDG3,Expected years of schooling (years) SDG 4.3,Mean years of schooling (years) SDG 4.6,Gross national income (GNI) per capita (PPP $) SDG 8.5
0,1,Norway,0.957,82.4,18.1,12.9,66.494
1,2,Ireland,0.955,82.3,18.7,12.7,68.371
2,2,Switzerland,0.955,83.8,16.3,13.4,69.394
3,4,"Hong Kong, China (SAR)",0.949,84.9,16.9,12.3,62.985
4,4,Iceland,0.949,83.0,19.1,12.8,54.682

In [13]:
def splitter(x):
    split_list = x.split(', ')
    return split_list[0]

languages['Countries'] = languages['Countries'].apply(splitter)
languages.head()

,ID,Name in English,Countries,Country codes alpha 3,ISO639-3 codes,Degree of endangerment,Number of speakers,Latitude,Longitude
0,1022,South Italian,Italy,ITA,nap,Vulnerable,7500000.0,40.9798,15.2490
1,1023,Sicilian,Italy,ITA,scn,Vulnerable,5000000.0,37.4399,14.5019
2,383,Low Saxon,Germany,"DEU, DNK, NLD, POL, RUS","act, drt, frs, gos, nds, sdz, stl, twd, vel, wep",Vulnerable,4800000.0,53.4029,10.3601
3,335,Belarusian,Belarus,"BRB, LVA, LTU, POL, RUS, UKR",bel,Vulnerable,4000000.0,53.9560,27.5756
4,382,Lombard,Italy,"ITA, CHE",lmo,Definitely endangered,3500000.0,45.7215,9.3273

In [14]:
main_df = languages.merge(country_list, left_on='Countries', right_on='Country')

In [15]:
main_df.head()

,ID,Name in English,Countries,Country codes alpha 3,ISO639-3 codes,Degree of endangerment,Number of speakers,Latitude,Longitude,Rank,Country,HDI value (2019),Life expectancy at birth (years) SDG3,Expected years of schooling (years) SDG 4.3,Mean years of schooling (years) SDG 4.6,Gross national income (GNI) per capita (PPP $) SDG 8.5
0,1022,South Italian,Italy,ITA,nap,Vulnerable,7500000.0,40.9798,15.2490,29,Italy,0.892,83.5,16.1,10.4,42.776
1,1023,Sicilian,Italy,ITA,scn,Vulnerable,5000000.0,37.4399,14.5019,29,Italy,0.892,83.5,16.1,10.4,42.776
2,382,Lombard,Italy,"ITA, CHE",lmo,Definitely endangered,3500000.0,45.7215,9.3273,29,Italy,0.892,83.5,16.1,10.4,42.776
3,349,Emilian-Romagnol,Italy,"ITA, SMR",eml,Definitely endangered,2000000.0,44.1270,12.0739,29,Italy,0.892,83.5,16.1,10.4,42.776
4,399,Piedmontese,Italy,ITA,pms,Definitely endangered,2000000.0,45.2013,7.8662,29,Italy,0.892,83.5,16.1,10.4,42.776

In [16]:
main_df = main_df.rename(columns={'Countries': 'Main country','Country codes alpha 3':'All countries'})
main_df

,ID,Name in English,Main country,All countries,ISO639-3 codes,Degree of endangerment,Number of speakers,Latitude,Longitude,Rank,Country,HDI value (2019),Life expectancy at birth (years) SDG3,Expected years of schooling (years) SDG 4.3,Mean years of schooling (years) SDG 4.6,Gross national income (GNI) per capita (PPP $) SDG 8.5
0,1022,South Italian,Italy,ITA,nap,Vulnerable,7500000.0,40.9798,15.2490,29,Italy,0.892,83.5,16.1,10.4,42.776
1,1023,Sicilian,Italy,ITA,scn,Vulnerable,5000000.0,37.4399,14.5019,29,Italy,0.892,83.5,16.1,10.4,42.776
2,382,Lombard,Italy,"ITA, CHE",lmo,Definitely endangered,3500000.0,45.7215,9.3273,29,Italy,0.892,83.5,16.1,10.4,42.776
3,349,Emilian-Romagnol,Italy,"ITA, SMR",eml,Definitely endangered,2000000.0,44.1270,12.0739,29,Italy,0.892,83.5,16.1,10.4,42.776
4,399,Piedmontese,Italy,ITA,pms,Definitely endangered,2000000.0,45.2013,7.8662,29,Italy,0.892,83.5,16.1,10.4,42.776
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2027,379,Karaim (Lithuania),Lithuania,LTU,kdr,Severely endangered,50.0,54.6420,24.9499,34,Lithuania,0.882,75.9,16.6,13.1,35.799
2028,1315,Bom,Sierra Leone,SLE,bmf,Severely endangered,20.0,7.3188,-11.9915,182,Sierra Leone,0.452,54.7,10.2,3.7,1.668
2029,1316,Kim,Sierra Leone,SLE,krm,Critically endangered,20.0,7.2425,-11.9476,182,Sierra Leone,0.452,54.7,10.2,3.7,1.668
2030,475,Ainu (Hokkaido),Japan,JPN,ain,Critically endangered,15.0,43.2612,142.8222,19,Japan,0.919,84.6,15.2,12.9,42.932
2031,298,Island Carib,Dominica,DMA,crb,Extinct,0.0,15.4325,-61.2817,94,Dominica,0.742,78.2,13.0,8.1,11.884

In [17]:
main_df = main_df.drop(columns=['Country'])

In [18]:
main_df.dtypes

ID                                                          int64
Name in English                                            object
Main country                                               object
All countries                                              object
ISO639-3 codes                                             object
Degree of endangerment                                     object
Number of speakers                                        float64
Latitude                                                  float64
Longitude                                                 float64
Rank                                                        int64
HDI value (2019)                                          float64
Life expectancy at birth (years) SDG3                     float64
Expected years of schooling (years) SDG 4.3               float64
Mean years of schooling (years) SDG 4.6                   float64
Gross national income (GNI) per capita (PPP $) SDG 8.5    float64
dtype: object

In [19]:
main_df.head()

,ID,Name in English,Main country,All countries,ISO639-3 codes,Degree of endangerment,Number of speakers,Latitude,Longitude,Rank,HDI value (2019),Life expectancy at birth (years) SDG3,Expected years of schooling (years) SDG 4.3,Mean years of schooling (years) SDG 4.6,Gross national income (GNI) per capita (PPP $) SDG 8.5
0,1022,South Italian,Italy,ITA,nap,Vulnerable,7500000.0,40.9798,15.2490,29,0.892,83.5,16.1,10.4,42.776
1,1023,Sicilian,Italy,ITA,scn,Vulnerable,5000000.0,37.4399,14.5019,29,0.892,83.5,16.1,10.4,42.776
2,382,Lombard,Italy,"ITA, CHE",lmo,Definitely endangered,3500000.0,45.7215,9.3273,29,0.892,83.5,16.1,10.4,42.776
3,349,Emilian-Romagnol,Italy,"ITA, SMR",eml,Definitely endangered,2000000.0,44.1270,12.0739,29,0.892,83.5,16.1,10.4,42.776
4,399,Piedmontese,Italy,ITA,pms,Definitely endangered,2000000.0,45.2013,7.8662,29,0.892,83.5,16.1,10.4,42.776

In [20]:
main_df['Number of speakers'] = main_df['Number of speakers'].astype(int)
main_df.head()

,ID,Name in English,Main country,All countries,ISO639-3 codes,Degree of endangerment,Number of speakers,Latitude,Longitude,Rank,HDI value (2019),Life expectancy at birth (years) SDG3,Expected years of schooling (years) SDG 4.3,Mean years of schooling (years) SDG 4.6,Gross national income (GNI) per capita (PPP $) SDG 8.5
0,1022,South Italian,Italy,ITA,nap,Vulnerable,7500000,40.9798,15.2490,29,0.892,83.5,16.1,10.4,42.776
1,1023,Sicilian,Italy,ITA,scn,Vulnerable,5000000,37.4399,14.5019,29,0.892,83.5,16.1,10.4,42.776
2,382,Lombard,Italy,"ITA, CHE",lmo,Definitely endangered,3500000,45.7215,9.3273,29,0.892,83.5,16.1,10.4,42.776
3,349,Emilian-Romagnol,Italy,"ITA, SMR",eml,Definitely endangered,2000000,44.1270,12.0739,29,0.892,83.5,16.1,10.4,42.776
4,399,Piedmontese,Italy,ITA,pms,Definitely endangered,2000000,45.2013,7.8662,29,0.892,83.5,16.1,10.4,42.776

In [21]:
main_df = main_df.rename(columns={'HDI value (2019)': 'Quality of life index(HDI-2019)'})
main_df

,ID,Name in English,Main country,All countries,ISO639-3 codes,Degree of endangerment,Number of speakers,Latitude,Longitude,Rank,Quality of life index(HDI-2019),Life expectancy at birth (years) SDG3,Expected years of schooling (years) SDG 4.3,Mean years of schooling (years) SDG 4.6,Gross national income (GNI) per capita (PPP $) SDG 8.5
0,1022,South Italian,Italy,ITA,nap,Vulnerable,7500000,40.9798,15.2490,29,0.892,83.5,16.1,10.4,42.776
1,1023,Sicilian,Italy,ITA,scn,Vulnerable,5000000,37.4399,14.5019,29,0.892,83.5,16.1,10.4,42.776
2,382,Lombard,Italy,"ITA, CHE",lmo,Definitely endangered,3500000,45.7215,9.3273,29,0.892,83.5,16.1,10.4,42.776
3,349,Emilian-Romagnol,Italy,"ITA, SMR",eml,Definitely endangered,2000000,44.1270,12.0739,29,0.892,83.5,16.1,10.4,42.776
4,399,Piedmontese,Italy,ITA,pms,Definitely endangered,2000000,45.2013,7.8662,29,0.892,83.5,16.1,10.4,42.776
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2027,379,Karaim (Lithuania),Lithuania,LTU,kdr,Severely endangered,50,54.6420,24.9499,34,0.882,75.9,16.6,13.1,35.799
2028,1315,Bom,Sierra Leone,SLE,bmf,Severely endangered,20,7.3188,-11.9915,182,0.452,54.7,10.2,3.7,1.668
2029,1316,Kim,Sierra Leone,SLE,krm,Critically endangered,20,7.2425,-11.9476,182,0.452,54.7,10.2,3.7,1.668
2030,475,Ainu (Hokkaido),Japan,JPN,ain,Critically endangered,15,43.2612,142.8222,19,0.919,84.6,15.2,12.9,42.932
2031,298,Island Carib,Dominica,DMA,crb,Extinct,0,15.4325,-61.2817,94,0.742,78.2,13.0,8.1,11.884

In [22]:
main_df['Degree of endangerment'].value_counts()

Vulnerable               540
Definitely endangered    530
Severely endangered      416
Critically endangered    407
Extinct                  139
Name: Degree of endangerment, dtype: int64

In [23]:
#main_df['Vulnerable'] = [x=0 for x in main_df['Degree of endangerment'] if x=='Vulnerable']

y=[]
for x in main_df['Degree of endangerment']:
    if x=='Vulnerable':
        y.append(0)
    elif x=='Definitely endangered':
        y.append(1)
    elif x=='Severely endangered':
        y.append(2)
    elif x=='Critically endangered':
        y.append(3)
    elif x=='Extinct':
        y.append(4)
    else:
        y.append('NaN')
y

[0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 1,
 2,
 2,
 1,
 1,
 1,
 1,
 2,
 0,
 0,
 0,
 1,
 2,
 2,
 0,
 1,
 0,
 1,
 1,
 2,
 1,
 2,
 2,
 2,
 2,
 2,
 3,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 1,
 3,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 3,
 1,
 0,
 1,
 3,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 3,
 3,
 1,
 1,
 3,
 3,
 1,
 3,
 3,
 3,
 0,
 1,
 1,
 1,
 3,
 1,
 1,
 1,
 1,
 3,
 1,
 1,
 1,
 2,
 0,
 3,
 3,
 2,
 2,
 3,
 1,
 3,
 3,
 1,
 3,
 2,
 1,
 1,
 1,
 3,
 3,
 3,
 3,
 1,
 2,
 1,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 4,
 4,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 2,
 1,
 1,
 2,
 1,
 2,
 2,
 2,
 2,
 3,
 2,
 3,
 3,
 3,
 3,
 3,
 4,
 3,
 4,
 3,
 0,
 2,
 2,
 4,
 0,
 1,
 3,
 4,
 4,
 4,
 0,
 0,
 2,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 2,
 1,
 2,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 1,
 1,
 2,
 1,
 1,
 2,
 1,
 1,
 1,
 1,
 1,
 2,
 2,
 2,
 1,
 2,
 2,
 2,
 1,
 2,
 3,
 2,
 2,
 1,
 1,
 2,
 1,
 2,
 2,
 2,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 0,
 1,
 1,
 0,
 2,
 0,
 2,
 2,
 1,
 1,
 1,
 0,
 2,
 0,
 2,
 2,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 3,
 1,
 2,
 2,
 3,
 2,
 3,
 0,
 2,
 1,
 1,
 2,
 3,
 2,
 3,
 3,
 2,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 4,
 4,
 4,
 0,
 1,
 2,
 2,
 2,
 1,
 2,
 1,
 2,
 1,
 0,
 0,
 0,
 1,
 1,
 2,
 2,
 1,
 2,
 2,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 2,
 1,
 3,
 1,
 1,
 0,
 1,
 1,
 0,
 0,
 1,
 2,
 1,
 0,
 0,
 0,
 2,
 2,
 0,
 1,
 3,
 1,
 0,
 2,
 1,
 1,
 2,
 0,
 1,
 1,
 1,
 1,
 0,
 2,
 1,
 2,
 1,
 0,
 2,
 1,
 0,
 1,
 1,
 2,
 1,
 1,
 2,
 2,
 1,
 1,
 2,
 0,
 3,
 1,
 3,
 3,
 2,
 3,
 4,
 0,
 2,
 1,
 1,
 2,
 0,
 1,
 1,
 3,
 2,
 4,
 4,
 1,
 1,
 0,
 0,
 0,
 1,
 2,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 2,
 2,
 0,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 2,
 1,
 1,
 3,
 3,
 3,
 4,
 0,
 0,
 2,
 0,
 1,
 1,
 0,
 2,
 0,
 0,
 3,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 2,
 0,
 3,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 2,
 1,
 3,
 0,
 1,
 1,
 0,
 3,
 0,
 2,
 0,
 3,
 0,
 0,
 2,
 2,
 2,
 1,
 1,
 3,
 2,
 1,
 3,
 2,
 2,
 2,
 1,
 2,
 1,
 2,
 2,
 2,
 1,
 3,
 3,
 1,
 2,
 3,
 3,
 3,
 0,
 3,
 3,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 2,
 1,
 2,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 2,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 2,
 1,
 0,
 0,
 1,
 1,
 2,
 0,
 0,
 0,
 1,
 1,
 2,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 3,
 0,
 1,
 1,
 1,
 0,
 0,
 2,
 2,
 1,
 0,
 1,
 1,
 1,
 1,
 2,
 2,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 3,
 2,
 0,
 2,
 1,
 1,
 1,
 3,
 1,
 1,
 0,
 3,
 1,
 3,
 2,
 3,
 2,
 3,
 2,
 2,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 1,
 2,
 3,
 3,
 3,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 2,
 3,
 1,
 1,
 0,
 0,
 1,
 1,
 2,
 1,
 1,
 2,
 1,
 1,
 1,
 0,
 2,
 2,
 1,
 3,
 2,
 1,
 3,
 3,
 2,
 2,
 2,
 2,
 3,
 1,
 3,
 3,
 3,
 3,
 4,
 0,
 1,
 4,
 4,
 4,
 1,
 2,
 2,
 3,
 4,
 1,
 1,
 1,
 2,
 1,
 2,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 2,
 1,
 2,
 2,
 3,
 3,
 4,
 4,
 0,
 0,
 0,
 1,
 2,
 2,
 2,
 3,
 3,
 2,
 2,
 1,
 2,
 3,
 2,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 4,
 4,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 2,
 1,
 2,
 1,
 2,
 1,
 2,
 1,
 2,
 2,
 0,
 1,
 2,
 2,
 3,
 3,
 3,
 3,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 2,
 1,
 2,
 0,
 0,
 0,
 2,
 3,
 0,
 2,
 2,
 3,
 2,
 1,
 0,
 1,
 2,
 0,
 1,
 1,
 1,
 2,
 3,
 4,
 4,
 4,
 4,
 1,
 2,
 2,
 1,
 2,
 2,
 3,
 0,
 0,
 1,
 1,
 2,
 3,
 3,
 4,
 4,
 0,
 2,
 2,
 3,
 3,
 0,
 1,
 1,
 2,
 2,
 2,
 2,
 2,
 0,
 2,
 1,
 1,
 2,
 1,
 1,
 2,
 1,
 2,
 1,
 1,
 1,
 2,
 2,
 2,
 1,
 0,
 2,
 1,
 1,
 0,
 2,
 0,
 2,
 1,
 2,
 2,
 2,
 0,
 2,
 1,
 3,
 3,
 2,
 2,
 3,
 2,
 1,
 3,
 3,
 3,
 2,
 2,
 2,
 3,
 2,
 2,
 3,
 3,
 ...]

In [24]:
z=[]
for x in main_df['Degree of endangerment']:
    if x=='Vulnerable':
        z.append(0)
    elif x=='Definitely endangered':
        z.append(1)
    elif x=='Severely endangered':
        z.append(1)
    elif x=='Critically endangered':
        z.append(1)
    elif x=='Extinct':
        z.append(2)
    else:
        z.append('NaN')
z

[0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 2,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 1,
 2,
 1,
 0,
 1,
 1,
 2,
 0,
 1,
 1,
 2,
 2,
 2,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 2,
 2,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 2,
 2,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 0,
 1,
 2,
 2,
 2,
 1,
 1,
 1,
 1,
 2,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 2,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 2,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 2,
 2,
 2,
 2,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 2,
 2,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 ...]

In [25]:
main_df['Endangered'] = z
main_df.sample(10)

,ID,Name in English,Main country,All countries,ISO639-3 codes,Degree of endangerment,Number of speakers,Latitude,Longitude,Rank,Quality of life index(HDI-2019),Life expectancy at birth (years) SDG3,Expected years of schooling (years) SDG 4.3,Mean years of schooling (years) SDG 4.6,Gross national income (GNI) per capita (PPP $) SDG 8.5,Endangered
1199,1618,Kaxarari,Brazil,BRA,ktx,Critically endangered,300,-9.5682,-66.1596,84,0.765,75.9,15.4,8.0,14.263,1
1073,2239,Côông,Viet Nam,VNM,cnc,Definitely endangered,1676,22.5943,102.7455,117,0.704,75.4,12.7,8.3,7.433,1
959,1721,Tagoi,Sudan,SDN,tag,Severely endangered,13000,10.8252,30.1657,170,0.510,65.3,7.9,3.8,3.829,1
726,2041,Thao,China,CHN,ssf,Critically endangered,10,23.8808,120.9206,85,0.761,76.9,14.0,8.1,16.057,1
1656,1939,Iteri,Papua New Guinea,PNG,itr,Severely endangered,90,-4.0807,141.5039,155,0.555,64.5,10.2,4.7,4.301,1
386,378,Limousin,France,FRA,oci,Severely endangered,400000,46.0579,1.8017,26,0.901,82.7,15.6,11.5,47.173,1
1418,2597,Liliali,Indonesia,IDN,kzl,Extinct,0,-3.3900,127.1008,107,0.718,71.7,13.6,8.2,11.459,2
172,530,Koireng,India,IND,nkd,Critically endangered,1056,24.2319,93.7463,131,0.645,69.7,12.2,6.5,6.681,1
676,489,Nanay,China,"CHN, RUS",gld,Severely endangered,3000,49.3537,136.5243,85,0.761,76.9,14.0,8.1,16.057,1
549,925,Central Pame,Mexico,MEX,pbs,Vulnerable,7399,21.9208,-99.3741,74,0.779,75.1,14.8,8.8,19.160,0

In [26]:
main_df['Endangered'].value_counts()

1    1353
0     540
2     139
Name: Endangered, dtype: int64

In [27]:
main_df.head()

,ID,Name in English,Main country,All countries,ISO639-3 codes,Degree of endangerment,Number of speakers,Latitude,Longitude,Rank,Quality of life index(HDI-2019),Life expectancy at birth (years) SDG3,Expected years of schooling (years) SDG 4.3,Mean years of schooling (years) SDG 4.6,Gross national income (GNI) per capita (PPP $) SDG 8.5,Endangered
0,1022,South Italian,Italy,ITA,nap,Vulnerable,7500000,40.9798,15.2490,29,0.892,83.5,16.1,10.4,42.776,0
1,1023,Sicilian,Italy,ITA,scn,Vulnerable,5000000,37.4399,14.5019,29,0.892,83.5,16.1,10.4,42.776,0
2,382,Lombard,Italy,"ITA, CHE",lmo,Definitely endangered,3500000,45.7215,9.3273,29,0.892,83.5,16.1,10.4,42.776,1
3,349,Emilian-Romagnol,Italy,"ITA, SMR",eml,Definitely endangered,2000000,44.1270,12.0739,29,0.892,83.5,16.1,10.4,42.776,1
4,399,Piedmontese,Italy,ITA,pms,Definitely endangered,2000000,45.2013,7.8662,29,0.892,83.5,16.1,10.4,42.776,1

In [28]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import re

In [29]:
url1 = 'https://en.wikipedia.org/wiki/List_of_countries_and_dependencies_by_population'

In [30]:
countries = pd.read_html(url1)
countries = countries[0]

In [31]:
countries = countries.drop(columns= ['Date','Source(official or UN)','% of world'])
countries.head()

  Rank Country(or dependent territory)  Population
0    1                        China[b]  1406981480
1    2                        India[c]  1374265327
2    3                United States[d]   331295180
3    4                       Indonesia   270203917
4    5                     Pakistan[e]   225200000

In [32]:
#The strings cleaning was a bit confused so I decided to do it directly on Excel
countries.to_csv('Countries_by_population.csv')

In [33]:
population_df = pd.read_excel('Country_by_pop.xlsx')
population_df

    Rank Country(or dependent territory)  Population
0      1                           China  1406894360
1      2                           India  1374023773
2      3                   United States   331261313
3      4                       Indonesia   270203917
4      5                        Pakistan   225200000
..   ...                             ...         ...
237    –                         Tokelau        1499
238  195                    Vatican City         825
239    –         Cocos (Keeling) Islands         555
240    –                Pitcairn Islands          50
241  NaN                           World  7851524000

[242 rows x 3 columns]

In [34]:
population_df['Country(or dependent territory)'].value_counts()

Poland                      1
Turks and Caicos Islands    1
Wallis and Futuna           1
DR Congo                    1
Andorra                     1
                           ..
Mauritania                  1
Eswatini                    1
Latvia                      1
North Macedonia             1
Brunei                      1
Name: Country(or dependent territory), Length: 242, dtype: int64

In [35]:
government = pd.read_excel('governemnt.xlsx')
government.sample(10)

,Name,Constitutional form,Head of state,Basis of executive legitimacy
176,Trinidad and Tobago,Republic,Ceremonial,Ministry is subject to parliamentary confidence
98,Lesotho,Constitutional monarchy,Ceremonial,Ministry is subject to parliamentary confidence
39,"Congo, Republic of the",Republic,Executive,Presidency independent of legislature; ministr...
80,Iran,Republic,Executive,Presidency is independent of legislature
165,Sri Lanka,Republic,Executive,Presidency independent of legislature; ministr...
56,Estonia,Republic,Ceremonial,Ministry is subject to parliamentary confidence
172,Tanzania,Republic,Executive,Presidency is independent of legislature
139,Philippines,Republic,Executive,Presidency is independent of legislature
194,Zimbabwe,Republic,Executive,Presidency is independent of legislature
65,Georgia,Republic,Ceremonial,Ministry is subject to parliamentary confidence

In [36]:
len(government)

198

In [37]:
government = government.drop(columns= ['Basis of executive legitimacy','Head of state'])
government.head()

               Name      Constitutional form
0          Abkhazia                 Republic
1      Cook Islands  Constitutional monarchy
2            Kosovo                 Republic
3              Niue  Constitutional monarchy
4   Northern Cyprus                 Republic

In [38]:
government['Name'].value_counts()

 Panama        1
 Seychelles    1
 Samoa         1
 Tajikistan    1
 Sri Lanka     1
              ..
 Myanmar       1
 Artsakh       1
 Cape Verde    1
 Liberia       1
 Bahrain       1
Name: Name, Length: 198, dtype: int64

In [39]:
display(main_df.head())
display(government.head())
population_df.head()

,ID,Name in English,Main country,All countries,ISO639-3 codes,Degree of endangerment,Number of speakers,Latitude,Longitude,Rank,Quality of life index(HDI-2019),Life expectancy at birth (years) SDG3,Expected years of schooling (years) SDG 4.3,Mean years of schooling (years) SDG 4.6,Gross national income (GNI) per capita (PPP $) SDG 8.5,Endangered
0,1022,South Italian,Italy,ITA,nap,Vulnerable,7500000,40.9798,15.2490,29,0.892,83.5,16.1,10.4,42.776,0
1,1023,Sicilian,Italy,ITA,scn,Vulnerable,5000000,37.4399,14.5019,29,0.892,83.5,16.1,10.4,42.776,0
2,382,Lombard,Italy,"ITA, CHE",lmo,Definitely endangered,3500000,45.7215,9.3273,29,0.892,83.5,16.1,10.4,42.776,1
3,349,Emilian-Romagnol,Italy,"ITA, SMR",eml,Definitely endangered,2000000,44.1270,12.0739,29,0.892,83.5,16.1,10.4,42.776,1
4,399,Piedmontese,Italy,ITA,pms,Definitely endangered,2000000,45.2013,7.8662,29,0.892,83.5,16.1,10.4,42.776,1

               Name      Constitutional form
0          Abkhazia                 Republic
1      Cook Islands  Constitutional monarchy
2            Kosovo                 Republic
3              Niue  Constitutional monarchy
4   Northern Cyprus                 Republic

  Rank Country(or dependent territory)  Population
0    1                           China  1406894360
1    2                           India  1374023773
2    3                   United States   331261313
3    4                       Indonesia   270203917
4    5                        Pakistan   225200000

In [40]:
government = government.rename(columns={'Name': 'Countries','Constitutional form':'Government'})
population_df = population_df.rename(columns={'Country(or dependent territory)':'Countries'})

In [41]:
population_df.isnull().sum()
print(len(population_df))
print(len(government))
len(main_df)

242
198

2032

In [42]:
population_df['Countries'].unique()

array(['China', 'India', 'United States', 'Indonesia', 'Pakistan',
       'Brazil', 'Nigeria', 'Bangladesh', 'Russia', 'Mexico', 'Japan',
       'Philippines', 'Ethiopia', 'DR Congo', 'Egypt', 'Vietnam', 'Iran',
       'Turkey', 'Germany', 'France', 'United Kingdom', 'Thailand',
       'South Africa', 'Tanzania', 'Italy', 'Myanmar', 'South Korea',
       'Colombia', 'Kenya', 'Spain', 'Argentina', 'Algeria', 'Sudan',
       'Uganda', 'Ukraine', 'Iraq', 'Canada', 'Poland', 'Morocco',
       'Uzbekistan', 'Saudi Arabia', 'Peru', 'Afghanistan', 'Malaysia',
       'Angola', 'Ghana', 'Mozambique', 'Yemen', 'Nepal', 'Venezuela',
       'Ivory Coast', 'Madagascar', 'Australia', 'North Korea',
       'Cameroon', 'Niger', 'Taiwan', 'Sri Lanka', 'Burkina Faso', 'Mali',
       'Chile', 'Romania', 'Malawi', 'Kazakhstan', 'Zambia', 'Syria',
       'Ecuador', 'Netherlands', 'Senegal', 'Guatemala', 'Chad',
       'Somalia', 'Zimbabwe', 'Cambodia', 'South Sudan', 'Rwanda',
       'Guinea', 'Burundi', 'Benin', 'Bolivia', 'Haiti', 'Tunisia',
       'Belgium', 'Cuba', 'Jordan', 'Greece', 'Czech Republic',
       'Dominican Republic', 'Sweden', 'Portugal', 'Azerbaijan',
       'Hungary', 'Honduras', 'Belarus', 'United Arab Emirates', 'Israel',
       'Tajikistan', 'Papua New Guinea', 'Austria', 'Switzerland',
       'Sierra Leone', 'Togo', 'Hong Kong', 'Paraguay', 'Laos', 'Libya',
       'Bulgaria', 'Serbia', 'El Salvador', 'Lebanon', 'Kyrgyzstan',
       'Nicaragua', 'Turkmenistan', 'Denmark', 'Singapore', 'Congo',
       'Central African Republic', 'Finland', 'Slovakia', 'Norway',
       'Palestine', 'Costa Rica', 'New Zealand', 'Ireland', 'Liberia',
       'Oman', 'Kuwait', 'Panama', 'Mauritania', 'Croatia', 'Georgia',
       'Eritrea', 'Uruguay', 'Mongolia', 'Bosnia and Herzegovina',
       'Puerto Rico', 'Armenia', 'Albania', 'Lithuania', 'Jamaica',
       'Qatar', 'Moldova', 'Namibia', 'Botswana', 'Gambia', 'Gabon',
       'Slovenia', 'North Macedonia', 'Lesotho', 'Latvia', 'Kosovo',
       'Guinea-Bissau', 'Bahrain', 'Equatorial Guinea',
       'Trinidad and Tobago', 'Estonia', 'East Timor', 'Mauritius',
       'Eswatini', 'Djibouti', 'Fiji', 'Cyprus', 'Comoros', 'Bhutan',
       'Guyana', 'Solomon Islands', 'Macau', 'Luxembourg', 'Montenegro',
       'Western Sahara', 'Suriname', 'Cape Verde', 'Malta',
       'Transnistria', 'Brunei', 'Belize', 'Bahamas', 'Maldives',
       'Northern Cyprus', 'Iceland', 'Vanuatu', 'Barbados',
       'French Polynesia', 'New Caledonia', 'Abkhazia',
       'São Tomé and Príncipe', 'Samoa', 'Saint Lucia', 'Guam',
       'Curaçao (Netherlands)', 'Republic of Artsakh', 'Kiribati',
       'Grenada', 'Aruba', 'Saint Vincent and the Grenadines', 'Jersey',
       'F.S. Micronesia', 'U.S. Virgin Islands', 'Tonga', 'Seychelles',
       'Antigua and Barbuda', 'Isle of Man', 'Andorra', 'Dominica',
       'Cayman Islands', 'Bermuda', 'Guernsey', 'American Samoa',
       'Greenland', 'Northern Mariana Islands', 'Marshall Islands',
       'Saint Kitts and Nevis', 'South Ossetia', 'Faroe Islands',
       'Turks and Caicos Islands', 'Sint Maarten', 'Liechtenstein',
       'Monaco', 'Saint Martin', 'Gibraltar', 'San Marino',
       'Åland Islands', 'British Virgin Islands', 'Palau', 'Cook Islands',
       'Anguilla', 'Wallis and Futuna', 'Nauru', 'Tuvalu',
       'Saint Barthélemy', 'Saint Pierre and Miquelon',
       'Saint Helena, Ascensionand Tristan da Cunha', 'Montserrat',
       'Falkland Islands', 'Christmas Island', 'Niue', 'Norfolk Island',
       'Tokelau', 'Vatican City', 'Cocos (Keeling) Islands',
       'Pitcairn Islands', 'World'], dtype=object)

In [43]:
main_df['Main country'].unique()

array(['Italy', 'Germany', 'Belarus', 'Albania', 'Israel', 'India',
       'Bolivia (Plurinational State of)', 'Croatia', 'Turkey', 'Niger',
       'Belgium', 'Russian Federation', 'Peru', 'Slovakia', 'France',
       'Hungary', 'Azerbaijan', 'Guatemala', 'Nepal', 'Myanmar', 'Mali',
       'Bangladesh', 'Spain', 'Georgia', 'Iran (Islamic Republic of)',
       'Mexico', 'China', 'Chile', 'Netherlands', 'Colombia', 'Iraq',
       'Ukraine', 'Armenia', 'Ecuador', 'Nigeria', 'Pakistan', 'Cambodia',
       'Bhutan', 'Panama', 'Latvia', 'Algeria', 'Argentina', 'Oman',
       'Kenya', 'Honduras', 'Tajikistan', 'Sudan', 'Ethiopia',
       "Lao People's Democratic Republic", 'New Zealand', 'Poland',
       'Greece', 'Viet Nam', 'Yemen', 'Syrian Arab Republic', 'Estonia',
       'Ireland', 'Lesotho', 'Kazakhstan', 'Senegal', 'Switzerland',
       'Brazil', 'Indonesia', 'Austria', 'Finland', 'Romania', 'Morocco',
       'Guyana', 'Guinea-Bissau', 'Canada', 'Thailand', 'Bulgaria',
       'Botswana', 'Uganda', 'Malaysia', 'Egypt', 'Belize', 'Guinea',
       'Ghana', 'Venezuela (Bolivarian Republic of)', 'Papua New Guinea',
       'Uzbekistan', 'Sweden', 'Chad', 'Tunisia', 'Nicaragua', 'Paraguay',
       'Burkina Faso', 'Central African Republic',
       'Micronesia (Federated States of)', 'Afghanistan', 'Costa Rica',
       'Namibia', 'Cameroon', 'Congo', 'Mauritania', 'Gabon', 'Australia',
       'Fiji', 'Timor-Leste', 'Angola', 'Philippines', 'Norway', 'Benin',
       "Côte d'Ivoire", 'Suriname', 'Cyprus', 'Solomon Islands',
       'Vanuatu', 'Palau', 'Sri Lanka', 'El Salvador', 'South Africa',
       'Lithuania', 'Sierra Leone', 'Japan', 'Dominica'], dtype=object)

In [44]:
main_df['Main country'] = np.where(main_df['Main country']=='Bolivia (Plurinational State of)','Bolivia',main_df['Main country'])
main_df['Main country'] = np.where(main_df['Main country']=='Russian Federation','Russia',main_df['Main country'])
main_df['Main country'] = np.where(main_df['Main country']=='Iran (Islamic Republic of)','Iran',main_df['Main country'])
main_df['Main country'] = np.where(main_df['Main country']=="Lao People's Democratic Republic",'Laos',main_df['Main country'])
main_df['Main country'] = np.where(main_df['Main country']=='Viet Nam','Vietnam',main_df['Main country'])
main_df['Main country'] = np.where(main_df['Main country']=='Syrian Arab Republic','Syria',main_df['Main country'])
main_df['Main country'] = np.where(main_df['Main country']=='Venezuela (Bolivarian Republic of)','Venezuela',main_df['Main country'])
main_df['Main country'] = np.where(main_df['Main country']=='Micronesia (Federated States of)','F.S. Micronesia',main_df['Main country'])
main_df['Main country'] = np.where(main_df['Main country']=='Timor-Leste','East Timor',main_df['Main country'])
main_df['Main country'] = np.where(main_df['Main country']=="Côte d'Ivoire",'Ivory Coast',main_df['Main country'])
main_df['Main country'].unique()

array(['Italy', 'Germany', 'Belarus', 'Albania', 'Israel', 'India',
       'Bolivia', 'Croatia', 'Turkey', 'Niger', 'Belgium', 'Russia',
       'Peru', 'Slovakia', 'France', 'Hungary', 'Azerbaijan', 'Guatemala',
       'Nepal', 'Myanmar', 'Mali', 'Bangladesh', 'Spain', 'Georgia',
       'Iran', 'Mexico', 'China', 'Chile', 'Netherlands', 'Colombia',
       'Iraq', 'Ukraine', 'Armenia', 'Ecuador', 'Nigeria', 'Pakistan',
       'Cambodia', 'Bhutan', 'Panama', 'Latvia', 'Algeria', 'Argentina',
       'Oman', 'Kenya', 'Honduras', 'Tajikistan', 'Sudan', 'Ethiopia',
       'Laos', 'New Zealand', 'Poland', 'Greece', 'Vietnam', 'Yemen',
       'Syria', 'Estonia', 'Ireland', 'Lesotho', 'Kazakhstan', 'Senegal',
       'Switzerland', 'Brazil', 'Indonesia', 'Austria', 'Finland',
       'Romania', 'Morocco', 'Guyana', 'Guinea-Bissau', 'Canada',
       'Thailand', 'Bulgaria', 'Botswana', 'Uganda', 'Malaysia', 'Egypt',
       'Belize', 'Guinea', 'Ghana', 'Venezuela', 'Papua New Guinea',
       'Uzbekistan', 'Sweden', 'Chad', 'Tunisia', 'Nicaragua', 'Paraguay',
       'Burkina Faso', 'Central African Republic', 'F.S. Micronesia',
       'Afghanistan', 'Costa Rica', 'Namibia', 'Cameroon', 'Congo',
       'Mauritania', 'Gabon', 'Australia', 'Fiji', 'East Timor', 'Angola',
       'Philippines', 'Norway', 'Benin', 'Ivory Coast', 'Suriname',
       'Cyprus', 'Solomon Islands', 'Vanuatu', 'Palau', 'Sri Lanka',
       'El Salvador', 'South Africa', 'Lithuania', 'Sierra Leone',
       'Japan', 'Dominica'], dtype=object)

In [45]:
main_df['Main country']

0              Italy
1              Italy
2              Italy
3              Italy
4              Italy
            ...
2027       Lithuania
2028    Sierra Leone
2029    Sierra Leone
2030           Japan
2031        Dominica
Name: Main country, Length: 2032, dtype: object

In [46]:
final = pd.merge(main_df, population_df, how="outer", left_on=["Main country"],right_on=["Countries"])
final.shape

(2157, 19)

In [47]:
final.isnull().sum()

ID                                                        125
Name in English                                           125
Main country                                              125
All countries                                             125
ISO639-3 codes                                            125
Degree of endangerment                                    125
Number of speakers                                        125
Latitude                                                  125
Longitude                                                 125
Rank                                                      125
Quality of life index(HDI-2019)                           125
Life expectancy at birth (years) SDG3                     125
Expected years of schooling (years) SDG 4.3               125
Mean years of schooling (years) SDG 4.6                   125
Gross national income (GNI) per capita (PPP $) SDG 8.5    125
Endangered                                                125
Rank                                                        1
Countries                                                   0
Population                                                  0
dtype: int64

In [48]:
final = final.dropna()
final.shape

(2032, 19)

In [49]:
final.isnull().sum()

ID                                                        0
Name in English                                           0
Main country                                              0
All countries                                             0
ISO639-3 codes                                            0
Degree of endangerment                                    0
Number of speakers                                        0
Latitude                                                  0
Longitude                                                 0
Rank                                                      0
Quality of life index(HDI-2019)                           0
Life expectancy at birth (years) SDG3                     0
Expected years of schooling (years) SDG 4.3               0
Mean years of schooling (years) SDG 4.6                   0
Gross national income (GNI) per capita (PPP $) SDG 8.5    0
Endangered                                                0
Rank                                                      0
Countries                                                 0
Population                                                0
dtype: int64

In [50]:
government['Countries'].unique()

array(['\xa0Abkhazia', '\xa0Cook Islands', '\xa0Kosovo', '\xa0Niue',
       '\xa0Northern Cyprus', '\xa0Republic of China',
       '\xa0Sahrawi Arab Democratic Republic', '\xa0South Ossetia',
       '\xa0Australia', '\xa0Austria', '\xa0Azerbaijan',
       '\xa0Bahamas, The', '\xa0Bahrain', '\xa0Bangladesh',
       '\xa0Barbados', '\xa0Belarus', '\xa0Belgium', '\xa0Belize',
       '\xa0Benin', '\xa0Bhutan', '\xa0Bolivia',
       '\xa0Bosnia and Herzegovina', '\xa0Botswana', '\xa0Brazil',
       '\xa0Brunei', '\xa0Bulgaria', '\xa0Burkina Faso', '\xa0Burundi',
       '\xa0Cambodia', '\xa0Cameroon', '\xa0Canada', '\xa0Cape Verde',
       '\xa0Central African Republic', '\xa0Chad', '\xa0Chile',
       "\xa0China, People's Republic of", '\xa0Colombia', '\xa0Comoros',
       '\xa0Congo, Democratic Republic of the',
       '\xa0Congo, Republic of the', '\xa0Costa Rica',
       "\xa0Côte d'Ivoire", '\xa0Croatia', '\xa0Cuba', '\xa0Cyprus',
       '\xa0Czech Republic', '\xa0Denmark', '\xa0Djibouti',
       '\xa0Dominica', '\xa0Dominican Republic', '\xa0East Timor',
       '\xa0Ecuador', '\xa0Egypt', '\xa0El Salvador',
       '\xa0Equatorial Guinea', '\xa0Eritrea', '\xa0Estonia',
       '\xa0Eswatini', '\xa0Ethiopia',
       '\xa0Federated States of Micronesia', '\xa0Fiji', '\xa0Finland',
       '\xa0France', '\xa0Gabon', '\xa0Gambia, The', '\xa0Georgia',
       '\xa0Germany', '\xa0Ghana', '\xa0Greece', '\xa0Grenada',
       '\xa0Guatemala', '\xa0Guinea', '\xa0Guinea-Bissau', '\xa0Guyana',
       '\xa0Haiti', '\xa0Honduras', '\xa0Hungary', '\xa0Iceland',
       '\xa0India', '\xa0Indonesia', '\xa0Iran', '\xa0Iraq',
       '\xa0Ireland', '\xa0Israel', '\xa0Italy', '\xa0Jamaica',
       '\xa0Japan', '\xa0Jordan', '\xa0Kazakhstan', '\xa0Kenya',
       '\xa0Kiribati', '\xa0Korea, North', '\xa0Korea, South',
       '\xa0Kuwait', '\xa0Kyrgyzstan', '\xa0Laos', '\xa0Latvia',
       '\xa0Lebanon', '\xa0Lesotho', '\xa0Liberia', '\xa0Libya',
       '\xa0Liechtenstein', '\xa0Lithuania', '\xa0Luxembourg',
       '\xa0Madagascar', '\xa0Malawi', '\xa0Malaysia', '\xa0Maldives',
       '\xa0Mali', '\xa0Malta', '\xa0Marshall Islands', '\xa0Mauritania',
       '\xa0Mauritius', '\xa0Mexico', '\xa0Moldova', '\xa0Monaco',
       '\xa0Mongolia', '\xa0Montenegro', '\xa0Morocco', '\xa0Mozambique',
       '\xa0Myanmar', '\xa0Namibia', '\xa0Nauru', '\xa0\xa0\xa0Nepal',
       '\xa0Netherlands', '\xa0New Zealand', '\xa0Nicaragua', '\xa0Niger',
       '\xa0Nigeria', '\xa0North Macedonia', '\xa0Norway', '\xa0Oman',
       '\xa0Pakistan', '\xa0Palau', '\xa0Palestine', '\xa0Panama',
       '\xa0Papua New Guinea', '\xa0Paraguay', '\xa0Peru',
       '\xa0Philippines', '\xa0Poland', '\xa0Portugal', '\xa0Qatar',
       '\xa0Romania', '\xa0Russia', '\xa0Rwanda',
       '\xa0Saint Kitts and Nevis', '\xa0Saint Lucia',
       '\xa0Saint Vincent and the Grenadines', '\xa0Samoa',
       '\xa0San Marino', '\xa0São Tomé and Príncipe', '\xa0Saudi Arabia',
       '\xa0Senegal', '\xa0Serbia', '\xa0Seychelles', '\xa0Sierra Leone',
       '\xa0Singapore', '\xa0Slovakia', '\xa0Slovenia',
       '\xa0Solomon Islands', '\xa0Somalia', '\xa0South Africa',
       '\xa0South Sudan', '\xa0Spain', '\xa0Sri Lanka', '\xa0Sudan',
       '\xa0Suriname', '\xa0Sweden', '\xa0\xa0Switzerland', '\xa0Syria',
       '\xa0Tajikistan', '\xa0Tanzania', '\xa0Thailand', '\xa0Togo',
       '\xa0Tonga', '\xa0Trinidad and Tobago', '\xa0Tunisia',
       '\xa0Turkey', '\xa0Turkmenistan', '\xa0Tuvalu', '\xa0Uganda',
       '\xa0Ukraine', '\xa0United Arab Emirates', '\xa0United Kingdom',
       '\xa0United States', '\xa0Uruguay', '\xa0Uzbekistan',
       '\xa0Vanuatu', '\xa0\xa0Vatican City', '\xa0Venezuela',
       '\xa0Vietnam', '\xa0Yemen', '\xa0Zambia', '\xa0Zimbabwe',
       '\xa0Artsakh', '\xa0Somaliland', '\xa0Transnistria'], dtype=object)

In [51]:
government['Countries']=government['Countries'].str.lstrip('\xa0')

In [52]:
government['Countries'].unique()

government['Countries'] = np.where(government['Countries']=='Republic of China','China',government['Countries'])
government['Countries'] = np.where(government['Countries']=="Congo, Democratic Republic of the",'Congo',government['Countries'])
government['Countries'] = np.where(government['Countries']=="Côte d'Ivoire",'Ivory Coast',government['Countries'])

government['Countries'] = np.where(government['Countries']=='Federated States of Micronesia','F.S. Micronesia',government['Countries'])

In [53]:
government['Countries'].unique()

array(['Abkhazia', 'Cook Islands', 'Kosovo', 'Niue', 'Northern Cyprus',
       'China', 'Sahrawi Arab Democratic Republic', 'South Ossetia',
       'Australia', 'Austria', 'Azerbaijan', 'Bahamas, The', 'Bahrain',
       'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin',
       'Bhutan', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana',
       'Brazil', 'Brunei', 'Bulgaria', 'Burkina Faso', 'Burundi',
       'Cambodia', 'Cameroon', 'Canada', 'Cape Verde',
       'Central African Republic', 'Chad', 'Chile',
       "China, People's Republic of", 'Colombia', 'Comoros', 'Congo',
       'Congo, Republic of the', 'Costa Rica', 'Ivory Coast', 'Croatia',
       'Cuba', 'Cyprus', 'Czech Republic', 'Denmark', 'Djibouti',
       'Dominica', 'Dominican Republic', 'East Timor', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Eswatini', 'Ethiopia', 'F.S. Micronesia', 'Fiji', 'Finland',
       'France', 'Gabon', 'Gambia, The', 'Georgia', 'Germany', 'Ghana',
       'Greece', 'Grenada', 'Guatemala', 'Guinea', 'Guinea-Bissau',
       'Guyana', 'Haiti', 'Honduras', 'Hungary', 'Iceland', 'India',
       'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy',
       'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati',
       'Korea, North', 'Korea, South', 'Kuwait', 'Kyrgyzstan', 'Laos',
       'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya',
       'Liechtenstein', 'Lithuania', 'Luxembourg', 'Madagascar', 'Malawi',
       'Malaysia', 'Maldives', 'Mali', 'Malta', 'Marshall Islands',
       'Mauritania', 'Mauritius', 'Mexico', 'Moldova', 'Monaco',
       'Mongolia', 'Montenegro', 'Morocco', 'Mozambique', 'Myanmar',
       'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Zealand',
       'Nicaragua', 'Niger', 'Nigeria', 'North Macedonia', 'Norway',
       'Oman', 'Pakistan', 'Palau', 'Palestine', 'Panama',
       'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland',
       'Portugal', 'Qatar', 'Romania', 'Russia', 'Rwanda',
       'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Vincent and the Grenadines', 'Samoa', 'San Marino',
       'São Tomé and Príncipe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South Sudan',
       'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Sweden', 'Switzerland',
       'Syria', 'Tajikistan', 'Tanzania', 'Thailand', 'Togo', 'Tonga',
       'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan',
       'Tuvalu', 'Uganda', 'Ukraine', 'United Arab Emirates',
       'United Kingdom', 'United States', 'Uruguay', 'Uzbekistan',
       'Vanuatu', 'Vatican City', 'Venezuela', 'Vietnam', 'Yemen',
       'Zambia', 'Zimbabwe', 'Artsakh', 'Somaliland', 'Transnistria'],
      dtype=object)

In [54]:
final['Main country'].unique()

array(['Italy', 'Germany', 'Belarus', 'Albania', 'Israel', 'India',
       'Bolivia', 'Croatia', 'Turkey', 'Niger', 'Belgium', 'Russia',
       'Peru', 'Slovakia', 'France', 'Hungary', 'Azerbaijan', 'Guatemala',
       'Nepal', 'Myanmar', 'Mali', 'Bangladesh', 'Spain', 'Georgia',
       'Iran', 'Mexico', 'China', 'Chile', 'Netherlands', 'Colombia',
       'Iraq', 'Ukraine', 'Armenia', 'Ecuador', 'Nigeria', 'Pakistan',
       'Cambodia', 'Bhutan', 'Panama', 'Latvia', 'Algeria', 'Argentina',
       'Oman', 'Kenya', 'Honduras', 'Tajikistan', 'Sudan', 'Ethiopia',
       'Laos', 'New Zealand', 'Poland', 'Greece', 'Vietnam', 'Yemen',
       'Syria', 'Estonia', 'Ireland', 'Lesotho', 'Kazakhstan', 'Senegal',
       'Switzerland', 'Brazil', 'Indonesia', 'Austria', 'Finland',
       'Romania', 'Morocco', 'Guyana', 'Guinea-Bissau', 'Canada',
       'Thailand', 'Bulgaria', 'Botswana', 'Uganda', 'Malaysia', 'Egypt',
       'Belize', 'Guinea', 'Ghana', 'Venezuela', 'Papua New Guinea',
       'Uzbekistan', 'Sweden', 'Chad', 'Tunisia', 'Nicaragua', 'Paraguay',
       'Burkina Faso', 'Central African Republic', 'F.S. Micronesia',
       'Afghanistan', 'Costa Rica', 'Namibia', 'Cameroon', 'Congo',
       'Mauritania', 'Gabon', 'Australia', 'Fiji', 'East Timor', 'Angola',
       'Philippines', 'Norway', 'Benin', 'Ivory Coast', 'Suriname',
       'Cyprus', 'Solomon Islands', 'Vanuatu', 'Palau', 'Sri Lanka',
       'El Salvador', 'South Africa', 'Lithuania', 'Sierra Leone',
       'Japan', 'Dominica'], dtype=object)

In [55]:
final_lang = pd.merge(final, government, how="outer", left_on=["Main country"],right_on=["Countries"])
final_lang.shape

(2119, 21)

In [56]:
final_lang = final_lang.drop(columns=['Countries_x','Countries_y'])
final_lang.isnull().sum()

ID                                                        87
Name in English                                           87
Main country                                              87
All countries                                             87
ISO639-3 codes                                            87
Degree of endangerment                                    87
Number of speakers                                        87
Latitude                                                  87
Longitude                                                 87
Rank                                                      87
Quality of life index(HDI-2019)                           87
Life expectancy at birth (years) SDG3                     87
Expected years of schooling (years) SDG 4.3               87
Mean years of schooling (years) SDG 4.6                   87
Gross national income (GNI) per capita (PPP $) SDG 8.5    87
Endangered                                                87
Rank                                                      87
Population                                                87
Government                                                41
dtype: int64

In [57]:
final_lang=final_lang.dropna(subset=['ID', 'Name in English', 'Main country', 'All countries',
       'ISO639-3 codes', 'Degree of endangerment', 'Number of speakers',
       'Latitude', 'Longitude', 'Rank', 'Quality of life index(HDI-2019)',
       'Life expectancy at birth (years) SDG3',
       'Expected years of schooling (years) SDG 4.3',
       'Mean years of schooling (years) SDG 4.6',
       'Gross national income (GNI) per capita (PPP $) SDG 8.5', 'Endangered',
       'Rank', 'Population'])

final_lang.shape

(2032, 19)

In [58]:
final_lang.isnull().sum()

ID                                                         0
Name in English                                            0
Main country                                               0
All countries                                              0
ISO639-3 codes                                             0
Degree of endangerment                                     0
Number of speakers                                         0
Latitude                                                   0
Longitude                                                  0
Rank                                                       0
Quality of life index(HDI-2019)                            0
Life expectancy at birth (years) SDG3                      0
Expected years of schooling (years) SDG 4.3                0
Mean years of schooling (years) SDG 4.6                    0
Gross national income (GNI) per capita (PPP $) SDG 8.5     0
Endangered                                                 0
Rank                                                       0
Population                                                 0
Government                                                41
dtype: int64

In [59]:
final_lang.sample(20)

,ID,Name in English,Main country,All countries,ISO639-3 codes,Degree of endangerment,Number of speakers,Latitude,Longitude,Rank,Quality of life index(HDI-2019),Life expectancy at birth (years) SDG3,Expected years of schooling (years) SDG 4.3,Mean years of schooling (years) SDG 4.6,Gross national income (GNI) per capita (PPP $) SDG 8.5,Endangered,Rank,Population,Government
1885,238.0,Wambaya,Australia,AUS,wmb,Critically endangered,20.0,-17.7696,134.9230,8.0,0.944,83.4,22.0,12.7,48.085,1.0,53,2.575720e+07,Constitutional monarchy
1024,77.0,Hozo,Ethiopia,ETH,hoz,Definitely endangered,3000.0,9.3352,34.5300,173.0,0.485,66.6,8.8,2.9,2.207,1.0,13,1.092244e+08,Republic
2003,2510.0,Mwesen,Vanuatu,VUT,msn,Critically endangered,15.0,-13.8740,167.5415,140.0,0.609,70.5,11.7,7.1,3.105,1.0,173,3.045000e+05,Republic
1796,1417.0,Bakole,Cameroon,CMR,kme,Critically endangered,300.0,4.5764,8.8439,153.0,0.563,59.3,12.1,6.3,3.581,1.0,55,2.434825e+07,Republic
638,2428.0,Rao,China,CHN,tct,Definitely endangered,15000.0,25.8710,107.0476,85.0,0.761,76.9,14.0,8.1,16.057,1.0,1,1.406894e+09,Republic
1630,2670.0,Garuwahi,Papua New Guinea,PNG,grw,Definitely endangered,225.0,-10.2284,150.4083,155.0,0.555,64.5,10.2,4.7,4.301,1.0,97,8.935000e+06,Constitutional monarchy
740,604.0,Huilliche,Chile,CHL,huh,Critically endangered,2000.0,-40.4803,-73.5424,43.0,0.851,80.2,16.4,10.6,23.261,1.0,60,1.967836e+07,Republic
996,1741.0,Njalgulgule,Sudan,SDN,njl,Severely endangered,900.0,8.4452,25.3015,170.0,0.510,65.3,7.9,3.8,3.829,1.0,33,4.327586e+07,Provisional
309,423.0,Vote,Russia,RUS,vot,Critically endangered,20.0,59.5858,28.4518,52.0,0.824,72.6,15.0,12.2,26.157,1.0,9,1.462382e+08,Republic
1285,1881.0,Xakriabá,Brazil,BRA,xkr,Extinct,0.0,-14.5306,-44.0438,84.0,0.765,75.9,15.4,8.0,14.263,2.0,6,2.128151e+08,Republic
55,1230.0,Mizo,India,IND,lus,Vulnerable,529000.0,22.9988,92.9223,131.0,0.645,69.7,12.2,6.5,6.681,0.0,2,1.374024e+09,Republic
1624,2699.0,Sissano,Papua New Guinea,PNG,sso,Critically endangered,300.0,-3.0129,142.0491,155.0,0.555,64.5,10.2,4.7,4.301,1.0,97,8.935000e+06,Constitutional monarchy
531,915.0,Papantla Totonac,Mexico,MEX,top,Definitely endangered,49748.0,20.4477,-97.3200,74.0,0.779,75.1,14.8,8.8,19.160,1.0,10,1.260140e+08,Republic
1684,1940.0,Kamasa,Papua New Guinea,PNG,klp,Critically endangered,20.0,-6.9500,146.2000,155.0,0.555,64.5,10.2,4.7,4.301,1.0,97,8.935000e+06,Constitutional monarchy
652,2424.0,Lajia,China,CHN,lbc,Definitely endangered,8000.0,23.7439,110.0526,85.0,0.761,76.9,14.0,8.1,16.057,1.0,1,1.406894e+09,Republic
143,1206.0,Gorum,India,IND,pcj,Definitely endangered,5000.0,18.6670,83.0346,131.0,0.645,69.7,12.2,6.5,6.681,1.0,2,1.374024e+09,Republic
1991,2638.0,Amblong,Vanuatu,VUT,alm,Definitely endangered,150.0,-15.4933,166.9846,140.0,0.609,70.5,11.7,7.1,3.105,1.0,173,3.045000e+05,Republic
1950,2091.0,Katabaga,Philippines,PHL,ktq,Extinct,0.0,13.4366,122.5569,107.0,0.718,71.2,13.1,9.4,9.778,2.0,12,1.099051e+08,Republic
751,605.0,"Huitoto (Colombia, Peru)",Colombia,"COL, PER","hto, huu, hux",Definitely endangered,10000.0,-3.0308,-71.8066,83.0,0.767,77.3,14.4,8.5,14.257,1.0,28,5.104950e+07,Republic
1491,258.0,Halkomelem,Canada,"CAN, USA",hur,Severely endangered,375.0,48.7715,-123.6678,16.0,0.929,82.4,16.2,13.4,48.527,1.0,37,3.837094e+07,Constitutional monarchy

In [60]:
final_lang.to_csv('Final.csv',index = False)